/*Les couleurs de la charte sont le bleu #0065FC, en plus clair #DEEBFF pour le fond le gris #F2F2F2.
 La police du site est Raleway.*/
 body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: .9em;
    margin: auto;
    width: 95%;
    max-width: 1500px;
}
/*Header*/
h1{
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 20px;
}
h2{
    font-size: 1.1em;
    font-weight: 500;
}
a:link
{
   text-decoration: none;
   color: black;
}
ul{
   list-style: none;
}
span{
   font-weight: bold;
   font-size: 1.1em;
}
/*menu*/
.logo{
    margin-top: 30px;
}
.nav_menu{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
}
.menu{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   height: 10vh;
   align-content: flex-end;
}
.bt_menu{
    display: flex;
    border-top: 1px transparent solid;
   margin-right: 25px;
   height: 100%;
  align-items: flex-end;
}
.bt_menu:hover{
    border-top: 2px #0065FC solid;
    color: #0065FC;
}
.bt_menu a{
   color: black;
}
.bt_menu:hover a{
    color: #0065FC;
}
.bt_inscrire a{
   font-weight: bold;
   color: #0065FC;
}
.presentation{
   text-align: left;
   justify-content: start;
   width: 60%;
}
/*section recherche, information*/
.bar_search{
   display: inline-flex;
   flex-direction: row;
   margin-top: 15px;
   margin-bottom: 35px;

}
.icone_search i{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background-color: #F2F2F2;
   border: 1px #F2F2F2 solid;
   border-radius: 15px 0px 0px 15px;
}
.text_search{
   background-color: white;
   border: none;
   border-top: 1px #F2F2F2 solid;
   border-bottom: 1px #F2F2F2 solid;
   width: 200;
   height: 40px;
   padding-left: 15px;
   font-size: 1.2em;
   font-weight: 400;
}
.buton_search{
   background-color: #0065FC;
   border: none;
   border-radius: 0px 15px 15px 0px;
   height: 40px;
   font-weight: 500;
   font-size: 1.3em;
   color: white;
}
/*Section filtres ssur une ligne composé de vignette colorée[bleu #0065FC] en cerclé[bleu clair #DEEBFF] et d'un texte tout deux evelopper dans une bordure [gris #F2F2F2]*/
.filtres{
   display: inline-flex;
   flex-direction: row;
   align-items: center;
}
.bt_filtres{
   margin-left: 20px;
   background-color: white;
   border: 2px #F2F2F2 solid;
   border-radius: 25px;
   font-size: 1.2em;
   font-weight: 500;
   cursor:pointer

}
.bt_filtres i{
   background-color: #DEEBFF;
   border: 10px #DEEBFF solid;
   border-radius: 50%;
   color: #0065FC;
   margin-right: 10px;
} 
   .pulsation{
      
   background:linear-gradient(135deg, #ffffff 0%,#ffffff 100%);
   animation: pulsation 1s infinite alternate
      
      }
   
   @keyframes pulsation{
      
   from{
      
      box-shadow:0 0 5px hsl(216, 100%, 49%)
      
      }
   to{
   
      box-shadow:0 0 15px hsl(216, 100%, 94%)
      
      }
      
      }	
.pulsation:hover{
   animation: pulsation_bouton 0.8s ease-in;
}
@keyframes pulsation_buton{
   from{
      box-shadow:0 0 0 -3px hsla(0,0%,100%,0),0 0 0 0 hsl(216,100%,49%)
   }
   to{
      box-shadow:0 0 0 10px hsla(0,0%,100%,0),0 0 0 13px hsla(216,100%,94%,0)}
}
/*Ligne information une ligne avec l'icone au dédut du bloc à gauche*/
.info{
   font-size: 1.em;
}
.info i{
   background-color: white;
   border: 1px #F2F2F2 solid;
   border-radius: 50%;
   color: #0065FC;
   align-items: center;
   padding: 10px 15px 10px 15px;
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 15px;
}
/*Section général pour hébergement et populaire*/
.container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   max-width: 1500px;
   height: 600px;
}
/*Section hébergement*/
.h_marseille{
   display: flex;
   align-items: center;
   margin: 0;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 30px;
   text-align: left;
   width: 100%;
}
.hebergements{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color:  #F2F2F2;
    border-radius: 17px;
    width: 1000px;
    height: 600px;
}
.listehebergements{
   display: inline-flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   align-items: center;
   border: none;
}
.heb{
   display: inline-flex;
   flex-flow: row wrap;
   justify-content: center;
   background-color: white;
   box-shadow: 2px 2px 8px 3px rgba(150, 150, 150, 0.1);
   width: 300px;
   height: 200px;
   border-radius: 25px;
   margin: 10px;
  align-content: flex-start;
}
.heb img{
   width: 290px;
   height: 125px;
   border: 5px solid white;
   border-radius: 25px 25px 0px 0px ;
   object-fit: cover;
}
.heb_text{
   width: 100%;
   text-align: left;
   padding-left: 15px;
}
.fa-star{
   color: #F2F2F2;
}
.bleu{
   color: #0065FC;
}
.afficher{
   display: flex;
   align-items: center;
   margin-left: 30px;
   font-size: 1.3em;
   font-weight: bold;
   text-align: left;
   width: 100%;
}
.afficher a{
   color: black;
}
/*Section populaire, bord droit l'élément est en colonne de trois vignettre qui prend l'ensemble de l'espace donné est composé d'une image en début de bloc et le texte à sa droite. Ne pas oublié étoile bleu de satisfation situé en dessous du texte.*/
.populaires h3{

   margin: 0;
   padding-top: 10px;
   padding-left: 20px;
   padding-bottom: 10px;
   text-align: left;
   width: 100%;
}
h3 i{/*Icone populaire bord droit*/
   margin-left: 130px;
}
.populaires{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color:  #F2F2F2;
   border-radius: 17px;
   width: 400px;
   height: 600px;
}
.listepopulaires{
   display: inline-flex;
   flex-flow: column wrap;
   justify-content: space-evenly;
   align-items: center;
   border: none;
   margin: 5px 0px 5px 0px;
}
.pop{
   display: inline-flex;
   flex-flow: row wrap;
   align-items: center;
   background-color: white;
   box-shadow: 2px 2px 8px 3px rgba(150, 150, 150, 0.1);
   width: 360px;
   height: 150px;
   border-radius: 25px;
   margin: 10px;
   text-align: center;
}
.pop img{
   width: 150px;
   height: 140px;
   border: 5px solid white;
   border-radius: 25px 0px 0px 25px ;
   object-fit: cover;
   text-align: left;
}
.pop_text{
justify-content: right;
text-align: center;
}
/*Section aside activité. Se situe avant le footer et prend l'ensemble de la page.*/
.container_activites h3{
   width: 100%;
   margin-top: 10px;
   margin-bottom: 20px;
}
.container_activites{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: stretch;
   max-width: 1500px;
   height: 550px;
   margin-top: 20px;
  /* background-color: rgb(6, 62, 70);*/
}
.listeactivites{
   height: 500px;
   max-height: 500px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-between;
   flex-direction: column;
}
.actives{
   display: flex;
   flex-wrap: wrap;
}
.act{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   max-height: 500px;
   height: 100%;
   align-content: flex-start;
   width: 325px;
   background-color: white;
   justify-content: space-evenly;
   border-radius: 25px;
   box-shadow: 2px 2px 8px 3px rgba(150, 150, 150, 0.1);
}
.act_min{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
   height: 225px;
   width: 325px;
   background-color: white;
   border-radius: 25px;
}
.act img{
   display: flex;
   flex-wrap: wrap;
   height: 450px;
   width: 100%;
   border: 0px solid transparent;
   object-fit: cover;
   border-radius: 25px 25px 0px 0px;
}
.act_min img{
   display: flex;
   flex-wrap: wrap;
   height: 175px;
}
.act_text a{
   font-weight: bold;
   font-size: 1em;
   padding-left: 8px;
   color: black;
}
.act_text_two a{
   font-weight: bold;
   font-size: 1em;
   padding-left: 8px;
   color: black;
}

/*Footer a propos alignement gauche, espacement entre les elements*/
footer
{
   display: inline-flex;
   flex-direction: column;
   flex-wrap: wrap;
   text-align: left;
   justify-content: flex-start;
   background-color: #F2F2F2;
   width: 100%;
   margin-top: 50px;
}
.a_propos{
   display: inline-flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: flex-start;
   width: 75%;
}
.a_propos li{
   padding-bottom: 5px;
}
footer h3{
   text-align: left;
   margin: 30px 30px 5px 30px;
}