/**{
    outline: 1px red solid;
 }*/
 /*Les couleurs de la charte sont le bleu #0065FC, en plus clair #DEEBFF pour le fond le gris #F2F2F2.
  La police du site est Raleway.*/
  /*Element general*/
  body{
   justify-content: center;
   font-family: 'Raleway', sans-serif;
}
.flex_row{
   display: flex;
   flex-direction: row;
}
.flex_column{
   display: flex;
   flex-direction: column;
}
.class_card{
   background-color: white;
   box-shadow: 2px 2px 8px 3px rgba(150, 150, 150, 20%);
   border-radius: 25px;
}
h1{
   margin: 0;
   font-weight: bold;
   font-size: 1.9em;
}
h2{
   font-weight: 700;
   font-size: 1.6em;
}
h3{
   margin: 0;
   font-weight: 600;
   font-size: 1.2em;
   overflow-wrap: break-word;
}
ul{
   list-style: none;
}
a{
   text-decoration: none;
   color: black;
}
.stars{
   flex-wrap: nowrap;
   color: #F2F2F2;
   padding-bottom: 10px;
   width: 100%;
   height: auto;
}
.bleu{
   color: #0065FC;
}
/*Header*/
.header{
   display: flex;
   justify-content: space-between;
   height: auto;
   margin-top: 10px;
}
.base_menu{
   display: flex;
   height: 100%;
   font-weight: bold;
   padding: 0px 10px 0px 10px;
   align-items: flex-end;
}
.menu{
   display: flex;
   justify-content: flex-end;
   width: 100%;
   height: auto;
}
.bt_menu{
   display: flex;
   border-top: 2px solid transparent;
   font-size: 1em;
}
@media screen and (max-width: 766.98px) {
   .header{
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       justify-content: space-between;
       flex-wrap: wrap;
       width: auto;
       height: auto;
   }
   .header img{
       order: -2;
       padding: 0px 0px 5px 5px;
   }
   .menu{
       display: flex;
       flex-direction: row;
   }
   .bt_menu{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       order: 1;
       width: 100%;
       padding: 15px 0px 10px 0px;
       border-top: none;
       border-bottom: 2px solid #F2F2F2;
   }
}
/*Hover*/
.bt_menu:hover{
   border-top: 2px solid #0065FC;
   color: #0065FC;
}
.bt_inscrire{
   color: #0065FC;
   align-self: flex-end;
}
@media screen and (max-width: 766.98px) {
   .bt_menu:hover{
       border-bottom: 2px solid #0065FC;
       border-top: none;
       color: #0065FC;
   }
   .bt_inscrire{
       order: -1;
       justify-content: center;
       align-items: center;
       padding: 15px 5px 15px 5px;
   }
}
/*section presentation, recherche, filtres et information*/
/*presentation*/
.presentation{
   height: auto;
   margin: 50px 0px 0px 20px;
}
/*barre de recherche*/
.bar_recherche{
   display: flex;
   margin: 15px 0px 5px 0pX;
}
.bar_recherche i{
   flex-wrap: nowrap;
   display: flex;
   background-color: #F2F2F2;
   border: 1px solid #F2F2F2;
   width: 50px;
   height: 40px;
   border-radius: 15px 0px 0px 15px;
   justify-content: center;
   align-items: center;
}
.text_recherche{
   background-color: transparent;
   border: none;
   border-top: 1px solid #F2F2F2;
   border-bottom:  1px solid #F2F2F2;
   height: 100%;
   width: 60%;
   font-size: 1.2em;
   font-weight: 400;
   padding-left: 15px;
}
.button_recherche{
   background-color: #0065FC;
   border: none;
   border-radius: 0px 15px 15px 0px;
   height: 40px;
   color: white;
   font-weight: 500;
   font-size: 1.3em;
}
@media screen and (max-width: 766.98px) {
   .bar_recherche{
       width: auto;
   }
}
/*filtres*/
.filtres{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 15px;
   width: 70%;
}
.bt_filtres{
   background-color: transparent;
   border: 2px solid #F2F2F2;
   border-radius: 25px;
   font-size: 1.2em;
   font-weight: 600;
   justify-content: center;
   align-items: center;
   height: 37px;
   padding-right: 20px;
   border-left: transparent;
}
.bt_filtres i{
   display: flex;
   color:#0065FC;
   background-color: #DEEBFF;
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   align-items: center;
   justify-content: center;
}
@media screen and (max-width: 1023px) {
   .filtres{
       flex-wrap: wrap;
       padding: 0;
   }
   .bt_filtres{
       margin-right: 20px;
       padding-right: 20px;
       font-size: 1em;
       text-align: center;
   }
}
@media screen and (max-width: 766.98px) {
   .filtres{
      width: auto;
      justify-content: flex-start;
   }
   .filtres h2{
      width: 100%;
   }
   .bt_filtres{
      margin-left: 0;
      margin: 0px 2px 10px 0px;
      height: auto;
   }
}
/* Effet pulsation filtres*/
.pulsation{
     
   background:linear-gradient(135deg, #ffffff 0%,#ffffff 100%);
   animation: pulsation 1s infinite alternate
      
      }

   @keyframes pulsation{
      
   from{
      
      box-shadow:0 0 5px hsl(216, 100%, 49%)
      
      }
   to{
   
      box-shadow:0 0 15px hsl(216, 100%, 94%)
      
      }
      
      }  
.pulsation:hover{
   animation: pulsation_bouton 0.8s ease-in;
}
   @keyframes pulsation_buton{
   from{
      box-shadow:0 0 0 -3px hsla(0,0%,100%,0),0 0 0 0 hsl(216,100%,49%)
   }
   to{
      box-shadow:0 0 0 10px hsla(0,0%,100%,0),0 0 0 13px hsla(216,100%,94%,0)}
}
@media screen and (max-device-width: 1023px) {
   .pulsation{
       animation: none;
   }
   .pulsation:hover{
       animation: none;
   } 
}
@media screen and (max-device-width: 766.98px) {
   .pulsation{
       animation: none;
   }
   .pulsation:hover{
       animation: none;
   }   
}
/*Ligne information une ligne avec l'icone au dédut du bloc à gauche*/
.info i{
   background-color: white;
   border: 1px #F2F2F2 solid;
   border-radius: 50%;
   color: #0065FC;
   align-items: center;
   padding: 10px 15px 10px 15px;
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 15px;
}
@media screen and (max-width: 1023px) {
    .info i{
        font-size: 10px;
        margin-right: 7px;
        padding: 5px 10px 5px 10px;
    }
}
/*section heb_pop*/
.heb_pop{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   max-width: 100%;
}
/*Section hébergement*/
.listes_heb{
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: #F2F2F2;
   border-radius: 17px;
   width: 66%;
}
.h_marseille{
    width: 100%;
    height: auto;
    margin-left: 30px;
}
.heb{
   flex-wrap: nowrap;
   width: 300px;
   height: 200px;
   border-radius: 25px;
   margin-bottom: 10px;
   justify-content: flex-start;
}
.heb img{
   width: 97%;
   height: 120px;
   border: 5px solid transparent;
   border-radius: 25px 25px 0px 0px;
   object-fit: cover;
}
.heb_text{
    display: flex;
   text-align: left;
   align-items: flex-start;
   margin: 0px 0px 0px 20px;
}
.heb p{
   font-size: 1em;
   font-weight: normal;
}
@media screen and (max-width: 1023px) {
   .heb_pop{
       flex-direction: column-reverse;
       height: 100%;
   }
   .listes_heb{

       justify-content: space-around;
       align-items: center;
       width: 100%;
       height: auto;
       padding-bottom: 5px;
   }
   .heb{
       flex-direction: row;
       flex-wrap: wrap;
       height: auto;
       width: 45%;
       margin: 10px;
       justify-content: space-between;
   }
   .heb_text{
       width: 100%;
       overflow-wrap: break-word;
   }
   .heb img{
       width: 97%;
       flex-wrap: wrap;
   }
}
@media screen and (max-width: 766.98px) {
   .listes_heb{
       width: auto;
       height: auto;
       background-color: transparent;
   }
   .heb{
       max-width: 100%;
       height: auto;
       flex-direction: row;
       justify-content: flex-start;
       width: 95%;
   }
   .heb img{
       align-self: center;
       width: 97%;
   }
}
/*Afficher plus*/
.afficher{
   width: 100%;
   height: auto;
   margin-left: 10px;
   font-weight: bold;
   font-size: 1.2em;
   margin: 40px 0px 10px 20px;
}
/*aside populaires*/
.listes_pop{
   flex-wrap: nowrap;
   justify-content: space-evenly;
   background-color: #F2F2F2;
   border-radius: 17px;
   width: 32%;
   align-items: center;
   height: auto;
}
.pop{
   flex-wrap: nowrap;
   width: 90%;
   height: 150px;
   border-radius: 25px;
}
.p_pop{
   width: 90%;
}
.p_pop i{
   float: right; 
}
.pop p{
  font-size: 1em;
  font-weight: normal;
  width: auto;
}
.pop_link{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex-wrap: wrap;
   justify-content: center;
}
.pop_img{
   width: 70%;
   object-fit: cover;
   height: 140px;
   border: 5px solid transparent;
   border-radius: 25px 0px 0px 25px;
   text-align: left;
}
.pop_text{
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   margin: 0px 0px 0px 5px;
}
@media screen and (max-width: 1023px){
   .listes_pop{
       width: 100%;
       height: auto;
       margin-bottom: 20px;
       padding-bottom: 20px;
       justify-content: space-around;
   }
   .pop_link{
      width: 50%;
       height: auto;
   }
   .pop{
       margin: 5px 0px 2px 5px;
   }
   .pop_text{
      width: auto;
   }
}
@media screen and (max-width: 766.98px) {
   .heb_pop{
       flex-direction: column-reverse;
   }
   .listes_pop{
       width: auto;
       border: none;
       border-radius: 0;
       flex-direction: column;
       align-content: center;
       padding-bottom: 10px;
   }
   .pop{
       max-width: 100%;
       width: 95%;
       margin-bottom: 10px;
   }
}

/*section activités*/
.listes_act{
   flex-wrap: wrap;
   justify-content: space-between;
   height: auto;
   width: 100%;
}
.act h3{
   margin-left: 20px;
   justify-content: center;
}
.activites{
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-between;
   height: 500px;
   width: 100%;
}
.act{
   width: 24%;
   height: 100%;
   background-color: white;
   box-shadow: 2px 2px 8px 3px rgba(150, 150, 150, 20%);
   border-radius: 25px 25px 25px 25px;
}
.a_act{
   width: 100%;
   height: auto;
}
.act_min{
   height: 45%;
}
.act_img{
   flex-wrap: wrap;
   width: 100%;
   height: 90%;
   object-fit: cover;
   border-radius: 25px 25px 0px 0px;
}
.act_min img{
   height: 78%;
}
@media screen and (max-width: 1023px){
   .listes_act{
       height: auto;
       width: auto;
       text-align: center;
   }
   .activites{
       flex-direction: row;
       flex-wrap: wrap;
       height: auto;
       width: 100%;
       justify-content: space-around;
       align-content: space-around;
   }
   .activites a{
       margin: 10px 0px 10px 0px;
       width: 40%;
       height: 40%;

   }
   .act_img{
       height: 200px;
   }
   .act_min img{
       height: 200px;
   }
}
@media screen and (max-width: 766.98px) {
   .listes_act{
       height: auto;
       margin-bottom: 10px;
   }
   .activites{
       flex-direction: row;
       flex-wrap: wrap;
       height: auto;
   }
   .activites a{
       width: 100%;
       height: 40%;
       margin: 8px 1px 8px 1px;
   }
   .act_img{
       height: 200px;
   }
   .act_min img{
       height: 200px;
   }
}
/*Footer a propos alignement gauche, espacement entre les elements*/
.a_propos{
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #F2F2F2;
   text-align: left;
   justify-content: flex-start;
   margin-top: 40px;
   padding-top: 10px;
}
.a_propos article{
   text-align: justify;
   margin-right: 50px;
}
.a_propos h3{
   margin-left: 40px;
}
@media screen and (max-width: 766.98px) {
   .a_propos{
      flex-direction: column;
   }

}
